@charset "UTF-8";

/* ::-webkit-scrollbar{
    width: 0px;
    height: 0px;
} */

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url(../imagens/fundo-madeira.jpg) top center /cover no-repeat fixed; 
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background: url(../imagens/frame-iphone.png) no-repeat;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 267.3px;
    height: 471px;
}

section#redes-sociais {
    margin: 20px;
    float: right;
}

section#redes-sociais img {
    display: block;
    width: 50px;
    margin-bottom: 40px;
    border-radius: 50%;
    box-shadow: 1px 4px 2px rgba(0, 0, 0, 0.438);
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    transform: scale(1.15);
    transition-duration: 0.25s;
    border: 1px solid rgb(255, 255, 255);
}

section#redes-sociais img:active {
    transform: scale(95%);
}
